
body {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 16px;
    background-color: lightslategrey;
    max-width: 900px;
    margin: 0 auto;
}

header {
    background-color: lightgreen;
    display: inline-flex;
    width: 100%;
    justify-content: space-between;
}

header h1{
    padding-left: 1rem;
}

nav {
    margin: auto 0;
}

nav p{
    color: black;
    display: inline-flex;
    flex-wrap: wrap;
    padding-right: 1rem;
    justify-content:space-between;
}

a {
    color: black;
    text-decoration: none;
}

.main {
    width: 100%;
}

.aboutContainer{
    display: inline-flex;
    justify-content: space-between;
}

.aboutInfo {
    background-color: lightcyan;
    padding-left: 1rem;
    max-width: 50%;
    display: flex;
    flex-wrap: wrap;
    
}

.aboutImg img {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    width: 100%;
    height: auto;
    border-radius: 2rem;
    justify-content: space-between;
}

#profile {
    background-color: lightgray;
    padding-left: 0rem;
}